In [2]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
# Importing September data using pandas
df1 = pd.read_csv("C:/D/COurses/DAEN 690/dataset/FedScope Employment Cube (September 2021)/FACTDATA_SEP2021.TXT")
# Importing June data using pandas
df2 = pd.read_csv("C:/D/COurses/DAEN 690/dataset/FedScope Employment Cube (June 2021)/FACTDATA_JUN2021.TXT")
#merge data of both Sep and June using pandas

C:\Users\veena\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3,4,6,8,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
df1.head()

,AGYSUB,LOC,AGELVL,EDLVL,GSEGRD,LOSLVL,OCC,PATCO,PP,PPGRD,SALLVL,STEMOCC,SUPERVIS,TOA,WORKSCH,WORKSTAT,DATECODE,EMPLOYMENT,SALARY,LOS
0,AA00,11,F,13,NaN,F,0340,2,ES,ES-**,S,XXXX,2,50,F,1,202109,1,192500.0,18.3
1,AA00,11,I,15,NaN,H,0905,1,ES,ES-**,R,XXXX,2,50,F,1,202109,1,187000.0,28.7
2,AA00,11,E,15,15.0,E,0905,1,99,GS-15,Q,XXXX,2,30,F,1,202109,1,172500.0,12.0
3,AA00,11,E,15,15.0,E,0905,1,99,GS-15,N,XXXX,8,30,F,1,202109,1,144128.0,10.0
4,AA00,11,F,15,13.0,E,0905,1,99,GS-13,K,XXXX,8,30,F,1,202109,1,114059.0,12.9

In [12]:
df2.head()

,AGYSUB,LOC,AGELVL,EDLVL,GSEGRD,LOSLVL,OCC,PATCO,PP,PPGRD,SALLVL,STEMOCC,SUPERVIS,TOA,WORKSCH,WORKSTAT,DATECODE,EMPLOYMENT,SALARY,LOS
0,AA00,11,F,13,NaN,F,340,2,ES,ES-**,R,XXXX,2,50,F,1,202106,1,181500.0,18.0
1,AA00,11,I,15,NaN,H,905,1,ES,ES-**,R,XXXX,2,50,F,1,202106,1,181500.0,28.4
2,AA00,11,E,15,15.0,E,905,1,99,GS-15,Q,XXXX,2,30,F,1,202106,1,172500.0,11.8
3,AA00,11,D,15,15.0,D,905,1,99,GS-15,N,XXXX,8,30,F,1,202106,1,144128.0,9.8
4,AA00,11,F,15,13.0,E,905,1,99,GS-13,K,XXXX,8,30,F,1,202106,1,114059.0,12.7

In [8]:
pip install datacompy

Collecting datacompy
  Downloading datacompy-0.8.0-py3-none-any.whl (27 kB)
Requirement already satisfied: numpy<=1.22.2,>=1.11.3 in c:\users\veena\anaconda3\lib\site-packages (from datacompy) (1.20.3)
Requirement already satisfied: pandas<=1.4.1,>=0.25.0 in c:\users\veena\anaconda3\lib\site-packages (from datacompy) (1.3.4)
Requirement already satisfied: ordered-set<=4.1.0,>=4.0.2 in c:\users\veena\anaconda3\lib\site-packages (from datacompy) (4.0.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\veena\anaconda3\lib\site-packages (from pandas<=1.4.1,>=0.25.0->datacompy) (2019.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\veena\anaconda3\lib\site-packages (from pandas<=1.4.1,>=0.25.0->datacompy) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\veena\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas<=1.4.1,>=0.25.0->datacompy) (1.16.0)
Installing collected packages: datacompy
Successfully installed datacompy-0.8.0
Note: you may need to restart the kernel to use updated packages.

In [9]:
import datacompy

In [40]:
compare = datacompy.Compare(
df1,
df2,
join_columns='AGYSUB', #You can also specify a list of columns
abs_tol=0.0001,
rel_tol=0,
df1_name='sep',
df2_name='june')

In [41]:
print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns     Rows
0       sep       20  2191011
1      june       20  2188923

Column Summary
--------------

Number of columns in common: 20
Number of columns in sep but not in june: 0
Number of columns in june but not in sep: 0

Row Summary
-----------

Matched on: agysub
Any duplicates on match values: Yes
Absolute Tolerance: 0.0001
Relative Tolerance: 0
Number of rows in common: 2,168,832
Number of rows in sep but not in june: 22,179
Number of rows in june but not in sep: 20,091

Number of rows with some compared columns unequal: 2,168,832
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 18
Number of columns compared with all values equal: 2
Total number of values which compare unequal: 22,950,764

Columns with Unequal Values or Types
------------------------------------

      Column sep dtype june dtype  # Unequal  Max Diff  # Null Diff
1     agelvl    object     object    1808290       0.0            0
15  datecode     int64      int64    2168832       3.0            0
2      edlvl    object     object    1667324       0.0         6742
3     gsegrd    object     object    1528050       0.0       548387
0        loc    object     object    1625577       0.0            0
17       los   float64    float64    1901519      66.3           37
4     loslvl    object     object    1069927       0.0            0
5        occ    object     object    1846350       0.0            0
6      patco     int64      int64    1208529       8.0            0
7         pp    object     object      63466       0.0            0
8      ppgrd    object     object    1795454       0.0            0
16    salary   float64    float64    1922617  419183.0       183190
9     sallvl    object     object    1826812       0.0            0
10   stemocc    object     object     809475       0.0            0
11  supervis    object     object     641823       0.0            0
12       toa    object     object     621091       0.0            0
13   worksch    object     object     169913       0.0            0
14  workstat     int64      int64     275715       1.0            0

Sample Rows with Unequal Values
-------------------------------

        agysub loc (sep) loc (june)
2065797   VATA        37         05
1530427   SB00        11         24
1773043   VAEB        53         12
2101917   VATA        42         29
1685276   TR93        24         49
534070    CM54        53         24
2041067   VATA        23         28
127372    AF1M        13         40
80577     AF1M        13         06
305161    ARAS        51         US

        agysub agelvl (sep) agelvl (june)
869337    FRFT            H             K
230388    AG16            J             G
1440306   NV52            D             J
1517673   OM00            H             J
1041532   HSBC            F             G
804570    DJ15            F             G
971406    HE70            G             C
1943651   VATA            F             H
1950115   VATA            J             G
1786481   VALA            H             F

        agysub edlvl (sep) edlvl (june)
583000    DD04        10.0         17.0
1110573   HSBD          10           04
628719    DD16          18           04
521865    ARXQ          17           04
187544    AG07          09           13
180642    AG03          14           21
1889703   VATA          17           13
1527863   SB00          13           15
776801    DJ06          17           13
1357349   NV24          17           13

        agysub gsegrd (sep) gsegrd (june)
76267     AF1M         11.0           NaN
235318    AG16           05            11
2006697   VATA         11.0           5.0
584659    DD04           14          11.0
1143733   HSBD           13            12
1313035   NV19          NaN          12.0
2049229   VATA          5.0           6.0
1276487   NN51         14.0          13.0
1338537   NV19         13.0          12.0
1245613   IN10          5.0           NaN

        agysub loslvl (sep) loslvl (june)
1105623   HSBD            G             F
264067    AGFA            H             E
1489326   NV70            H             E
731796    DJ02            D             B
1120151   HSBD            G             F
447327    ARTC            F             G
1904492   VATA            H             G
1842528   VATA            G             F
1697314   TR93            J             I
265087    AGFA            D             B

        agysub occ (sep) occ (june)
1290026   NU00       840       0801
427703    ARNG      2210        203
980357    HSAB      0301       1801
410949    ARNG      5801       2181
1511295   NV74      2210       0301
1977412   VATA      0343       0610
191609    AG10      0135       0560
780605    DJ06      1802       1811
1820267   VATA      0679       0644
2001576   VATA      0610       0318

        agysub  patco (sep)  patco (june)
821329    DLSL          1.0           4.0
2132521   VATA          1.0           6.0
144538    AF40          2.0           4.0
814006    DLLS          2.0           1.0
81213     AF1M          2.0           6.0
2082598   VATA          3.0           4.0
2129777   VATA          2.0           3.0
1975570   VATA          1.0           4.0
681599    DD65          2.0           5.0
1296088   NV12          3.0           2.0

        agysub pp (sep) pp (june)
830020    DN00       99        ST
2009280   VATA       99        99
287932    ARAF       99        ST
2007785   VATA       99        99
424970    ARNG       99        99
2004605   VATA       99        99
2012461   VATA       99        99
1003229   HSAC       99        ES
2017854   VATA       99        99
2018414   VATA       99        99

        agysub ppgrd (sep) ppgrd (june)
916879    HE36       GS-14        RF-00
522928    ARXT       GS-13        GS-06
1827462   VATA       GS-12        VN-02
1737528   TR93       GS-14        GS-07
158865    AFNG       GS-12        GS-09
595229    DD07       GS-13        GS-12
1813651   VATA       GS-06        GS-13
1844384   VATA       VM-PH        GS-12
1685711   TR93       GS-09        IR-SM
1365185   NV24       GS-12        GS-14

        agysub sallvl (sep) sallvl (june)
403349    ARMC            K             O
128295    AF1M            D             F
2084776   VATA            D             N
2026661   VATA            U             D
323132    ARCE            I             O
1576503   SZ00            K             R
396635    ARMC            G             F
1611890   SZ00            E             C
1242113   IN10            J             E
940513    HE38            E             M

        agysub stemocc (sep) stemocc (june)
200760    AG11          1350           0810
576585    CT00          2210           XXXX
909366    HE36          0401           XXXX
964150    HE39          XXXX           0685
902384    HE36          XXXX           0696
1428267   NV39          0854           XXXX
1285436   NN76          0830           0861
121105    AF1M          2210           0631
1400167   NV25          2210           XXXX
828261    DN00          XXXX           0850

        agysub supervis (sep) supervis (june)
1532313   SE00              8               2
1026527   HSBB              8               2
55277     AF1L              8               8
1299093   NV14              8               2
1615245   TD01              2               8
1293289   NV11              2               8
60345     AF1L              8               8
454753    ARTC              8               2
1738005   TR93              8               8
1678705   TR93              6               8

        agysub toa (sep) toa (june)
693917    DJ01        30         15
1849720   VATA        10         38
1186328   HSFA        10         15
1929309   VATA        10         15
1836285   VATA        10         38
861586    FC00        30         15
883751    GS30        40         10
1344744   NV22        10         30
1216013   IN06        15         48
2158011   VATA        20         15

        agysub worksch (sep) worksch (june)
1547406   ST00             F              I
1689028   TR93             F              G
623212    DD16             G              P
1038822   HSBC             P              F
1069984   HSBC             F              P
1707071   TR93             F              Q
1239897   IN10             F              G
1741913   TR93             G              F
665564    DD48             I              F
2010939   VATA             F              P

        agysub  workstat (sep)  workstat (june)
2032204   VATA             2.0              1.0
2037997   VATA             2.0              1.0
1995295   VATA             2.0              1.0
562900    CM63             2.0              1.0
610727    DD07             1.0              2.0
627117    DD16             2.0              1.0
2074857   VATA             1.0              2.0
1160302   HSBE             1.0              2.0
2131372   VATA             1.0              2.0
305114    ARAS             1.0              2.0

        agysub  datecode (sep)  datecode (june)
542007    CM56        202109.0         202106.0
2009625   VATA        202109.0         202106.0
1432      AF07        202109.0         202106.0
1078952   HSBC        202109.0         202106.0
722218    DJ02        202109.0         202106.0
90166     AF1M        202109.0         202106.0
1402679   NV25        202109.0         202106.0
900326    HE36        202109.0         202106.0
1725144   TR93        202109.0         202106.0
1331211   NV19        202109.0         202106.0

        agysub  salary (sep)  salary (june)
302538    ARAP       40621.0        45364.0
245541    AG34      147034.0       101734.0
1982870   VATA       44551.0        57702.0
414879    ARNG       93656.0        76989.0
2029112   VATA      278932.0        77304.0
2162263   VATA       39110.0        71697.0
1812542   VATA       61924.0        43495.0
1272730   NN22       80743.0        59907.0
1416757   NV27      123334.0            NaN
2037609   VATA       87822.0        35265.0

        agysub  los (sep)  los (june)
620564    DD12        2.1         2.2
43784     AF1C       35.2        32.3
1618797   TD03       38.8        29.8
1223717   IN08       34.1        21.9
1743489   TR93        6.1         1.4
1007182   HSAD       22.2        18.3
1527303   SB00        1.3         1.1
1791032   VALA       12.2         3.1
790131    DJ09       29.8        32.6
1864671   VATA       17.4        20.3

Sample Rows Only in sep (First 10 Columns)
------------------------------------------

        agysub loc agelvl edlvl gsegrd loslvl   occ  patco  pp  ppgrd
1531548   SB00  13      G    15   11.0      A  0905    1.0  99  GS-11
2189777   VATA  36      K    17   11.0      E  0101    1.0  99  GS-11
1671227   TR91  11      I    17     15      E   510    1.0  99  GS-15
1767497   VAAF  13      G    17     15      D  0671    2.0  99  GS-15
634876    DD16  GM      F    04    NaN      A  1701    1.0  99  TP-AA
1229745   IN08  46      E  13.0   13.0      D  0854    1.0  99  GS-13
897038    HE32  12      H  18.0   13.0      D  0685    2.0  99  GS-13
2189858   VATA  51      H    13   12.0      F  1102    1.0  99  GS-12
154062    AF6F  06      F    13    NaN      C  0801    1.0  99  NH-03
1390523   NV24  53      D    17    NaN      D  1101    2.0  99  NT-05

Sample Rows Only in june (First 10 Columns)
-------------------------------------------

        agysub loc agelvl edlvl gsegrd loslvl   occ  patco  pp  ppgrd
2199968   ARMC  GM      J  21.0   15.0      A   602    1.0  99  GP-15
2209229   SM03  11      I    04    NaN      D  5701    6.0  99  WG-05
2204868   IN06  US      F    17   12.0      F  1811    2.0  99  GS-12
2210561   TR93  11      G    04     13      C  2210    2.0  99  GS-13
2192796   AF4G  08      J    04   11.0      C  0391    2.0  99  GS-11
2204301   IN05  04      D    07    8.0      D  0462    3.0  99  GS-08
2210932   VALA  11      H    13   13.0      E  0343    2.0  99  GS-13
2204357   IN05  16      J    04    8.0      D  0303    3.0  99  GS-08
2197744   ARMC  48      D  13.0    9.0      A   640    3.0  99  GS-09
2205146   IN06  04      K    13    5.0      F  1170    2.0  99  GS-05

In [47]:
df1_unq = print(compare.df1_unq_rows.drop_duplicates(subset=['agysub']))

        agysub loc agelvl edlvl gsegrd loslvl   occ  patco  pp  ppgrd sallvl  \
11        AA00  11      B    13    9.0      A  0560    2.0  99  GS-09      F
1829      AF07  US      E    17   13.0      A  1811    2.0  99  GS-13      I
42757     AF13  51      J    10   12.0      E  2210    2.0  99  GS-12      I
42810     AF16  10      H    04    9.0      D   301    2.0  99  GS-09      E
134009    AF1M  06      D    08    NaN      C  6501    6.0  99  WG-08      E
...        ...  ..    ...   ...    ...    ...   ...    ...  ..    ...    ...
1780042   VAKA  11      E    13    NaN      E   301    2.0  99  EX-04      O
1806503   VAPA  11      E    17   12.0      F  0301    2.0  99  GS-12      I
2189479   VATA  21      I    13    6.0      D  0679    4.0  99  GS-06      D
2190977   ZP00  11      D    17    NaN      A  0301    2.0  99  AD-00      G
2191009   ZS00  11      C    04    NaN      A  0301    2.0  99  AD-00      D

        stemocc supervis toa worksch  workstat  datecode  employment  \
11         XXXX        8  15       F       1.0  202109.0         1.0
1829       XXXX        8  30       F       1.0  202109.0         1.0
42757      2210        8  10       F       1.0  202109.0         1.0
42810      XXXX        8  10       F       1.0  202109.0         1.0
134009     XXXX        8  10       F       1.0  202109.0         1.0
...         ...      ...  ..     ...       ...       ...         ...
1780042    XXXX        8  46       F       2.0  202109.0         1.0
1806503    XXXX        8  10       F       1.0  202109.0         1.0
2189479    XXXX        8  38       F       1.0  202109.0         1.0
2190977    XXXX        8  48       F       2.0  202109.0         1.0
2191009    XXXX        8  48       F       2.0  202109.0         1.0

           salary   los
11        60129.0   0.0
1829          NaN   0.2
42757     95920.0  14.1
42810     58083.0   6.8
134009    53030.0   4.6
...           ...   ...
1780042  158500.0  10.1
1806503   95920.0  15.9
2189479   43241.0   6.7
2190977   78000.0   0.1
2191009   41000.0   0.1

[251 rows x 20 columns]

In [48]:
df2_unq = print(compare.df2_unq_rows.drop_duplicates(subset=['agysub']))

        agysub loc agelvl edlvl gsegrd loslvl   occ  patco  pp  ppgrd sallvl  \
2191011   AB00  FR      F    17   13.0      E  1001    2.0  99  GS-13      H
2191013   AF02  35      C    17   13.0      B  1515    1.0  99  GS-13      I
2191015   AF03  35      B    04    3.0      A   399    5.0  99  GS-03      B
2191026   AF06  KS      E    17   12.0      E   511    1.0  99  GS-12      G
2191030   AF09  48      G    13   13.0      D   201    2.0  99  GS-13      I
...        ...  ..    ...   ...    ...    ...   ...    ...  ..    ...    ...
2210896   VALA  53      E    13   10.0      E  0996    2.0  99  GS-10      G
2211095   VD00  11      D    04    NaN      A  0905    1.0  99  AD-00      J
2211097   WK00  27      E    07   14.0      A  0301    2.0  99  GS-14      N
2211099   ZL00  11      K    04    NaN      B  0301    2.0  99  SR-00      Q
2211100   ZU00  11      E    17    NaN      D  0301    2.0  99  AD-00      K

        stemocc supervis toa worksch  workstat  datecode  employment  \
2191011    XXXX        2  10       F       1.0  202106.0         1.0
2191013    1515        5  15       F       1.0  202106.0         1.0
2191015    XXXX        8  45       P       2.0  202106.0         1.0
2191026    XXXX        8  10       F       1.0  202106.0         1.0
2191030    XXXX        2  10       F       1.0  202106.0         1.0
...         ...      ...  ..     ...       ...       ...         ...
2210896    XXXX        8  10       F       1.0  202106.0         1.0
2211095    XXXX        8  38       F       1.0  202106.0         1.0
2211097    XXXX        8  20       F       2.0  202106.0         1.0
2211099    XXXX        8  48       I       2.0  202106.0         1.0
2211100    XXXX        8  38       F       1.0  202106.0         1.0

           salary   los
2191011   87415.0  11.3
2191013   92723.0   1.2
2191015   28255.0   0.4
2191026   73513.0  12.0
2191030   95888.0   5.6
...           ...   ...
2210896   70908.0  11.7
2211095  103690.0   0.3
2211097  148279.0   0.4
2211099  172500.0   1.5
2211100  112930.0   8.0

[228 rows x 20 columns]

In [43]:
print(compare.intersect_rows)

        agysub loc_df1 agelvl_df1 edlvl_df1 gsegrd_df1 loslvl_df1 occ_df1  \
0         AA00      11          F        13        NaN          F    0340
1         AA00      11          I        15        NaN          H    0905
2         AA00      11          E        15       15.0          E    0905
3         AA00      11          E        15       15.0          E    0905
4         AA00      11          F        15       13.0          E    0905
...        ...     ...        ...       ...        ...        ...     ...
2191005   ZS00      11          C        17        NaN          A    0301
2191006   ZS00      11          I        01        NaN          A    0301
2191007   ZS00      11          C        17        NaN          A    0301
2191008   ZS00      11          D        04        NaN          B    0301
2191010   ZU00      11          K        17        NaN          E    0301

         patco_df1 pp_df1 ppgrd_df1  ... sallvl_match stemocc_match  \
0              2.0     ES     ES-**  ...        False          True
1              1.0     ES     ES-**  ...         True          True
2              1.0     99     GS-15  ...         True          True
3              1.0     99     GS-15  ...         True          True
4              1.0     99     GS-13  ...         True          True
...            ...    ...       ...  ...          ...           ...
2191005        2.0     99     AD-00  ...        False          True
2191006        2.0     99     AD-00  ...        False          True
2191007        2.0     99     AD-00  ...        False          True
2191008        2.0     99     AD-00  ...        False          True
2191010        2.0     99     AD-00  ...         True          True

        supervis_match toa_match worksch_match  workstat_match  \
0                 True      True          True            True
1                 True      True          True            True
2                 True      True          True            True
3                 True      True          True            True
4                 True      True          True            True
...                ...       ...           ...             ...
2191005           True      True          True            True
2191006           True      True         False            True
2191007           True      True         False            True
2191008           True      True          True            True
2191010           True      True          True            True

         datecode_match  employment_match  salary_match  los_match
0                 False              True         False      False
1                 False              True         False      False
2                 False              True          True      False
3                 False              True          True      False
4                 False              True          True      False
...                 ...               ...           ...        ...
2191005           False              True         False      False
2191006           False              True         False      False
2191007           False              True         False       True
2191008           False              True         False      False
2191010           False              True          True      False

[2168832 rows x 59 columns]